################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/src/.vs/Telegraf.Clients/v15/Server/sqlite3
/src/.vs/Telegraf.Clients/v15
/src/Telegraf.Channel.Abstractions/bin/Debug
/src/Telegraf.Channel.Abstractions/obj
/src/Telegraf.Channel.Udp/bin/Debug
/src/Telegraf.Channel.Udp/obj
/src/Telegraf.Infrastructure/bin/Debug
/src/Telegraf.Infrastructure/obj
/src/Telegraf.Statsd.Client/bin/Debug
/src/Telegraf.Statsd.Client/obj
/src/Telegraf.Clients.v3.ncrunchsolution.user
/src/ConsoleApp1
/src/Telegraf.Channel.Tcp/bin/Debug
/src/Telegraf.Channel.Tcp/obj
/src/Telegraf.Infux.Client/bin/Debug
/src/Telegraf.Infux.Client/obj
/src/Telegraf.Infrastructure.Tests/bin/Debug/netcoreapp2.2
/src/Telegraf.Infrastructure.Tests/obj
/src/Telegraf.Statsd.Client.Tests/bin/Debug/netcoreapp2.2
/src/Telegraf.Statsd.Client.Tests/obj
/src/Telegraf.Channel.Http/bin/Debug
/src/Telegraf.Channel.Http/obj
/src/InfuxClientExamples/bin/Debug/netcoreapp2.2
/src/InfuxClientExamples/obj
/src/StatsdExamples/obj
/src/StatsdExamples/bin/Debug/netcoreapp2.2
/src/.vs/Telegraf.Clients/DesignTimeBuild
/.vs
/src/.vs/Telegraf.Clients/v16
/src/Telegraf.Channel.Udp.Tests/bin/Debug/netcoreapp2.2
/src/Telegraf.Channel.Udp.Tests/obj
